<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
"Hello World  My Name is Django"<br/>
<select multiple="multiple" size="3">
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
</select>
<br/>
<select>
    <optgroup label="A">
        <option>B</option>
        <option>C</option>
    </optgroup>
</select>
<br/>
<select>
    <option>A</option>
    <option>B</option>
    <option>C</option>
</select>
<form action="/">
    Name:<input  name="username" type="text" />
    <br/>
    pwd:<input name="pwd" type="password" />
    <input type="submit" value="sb" />
</form>

<table>
    <tr>aa</tr>
    <tr>
    <td>bb</td>
    <td>bb</td>
    </tr>
</table>
</body>
</html>